<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
</head>

<body>
  <h1>Lec02 GET!</h1>
  <form action="/lec02" method="post">
    <p>
      <div th:if="${name}">
        Hi [[${name}]]
      </div>
    <a href="/lec02?Janken_hand=0">ぐー</a>
    <a href="/lec02?Janken_hand=1">ちょき</a>
    <a href="/lec02?Janken_hand=2">ぱー</a>
    <p>
    <div th:if="${Janken_hand}">
        あなたの手 [[${Janken_hand}]]
        <p>
        相手の手 GU
        <p>
    </div>
    <div th:if="${result2}">
        結果 [[${result2}]]
    </div>
      </form>
</body>
</html>
